
.bg-404 {
  height: 100%;
  font-family: "microsoft yahei";
  background: url(../img/beaut_404_af0f2a5.jpg) no-repeat 50% 119px;
}

.bg-404 .main {
  width: 1040px;
  margin: 0 auto;
  padding-top: 500px;
  padding-left: 60px;
}

.bg-404 .main .aiya {
  font-size: 34px;
  line-height: 60px;
  height: 60px;
  color: #00a2eb;
  padding-bottom: 14px;
}

.bg-404 .main .back {
  width: 189px;
  height: 57px;
  line-height: 57px;
  background-color: #00a2eb;
  text-align: center;
  color: #fff;
  font-size: 21px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 8px #00a2eb;
}

.bg-404 .main .back:before {
  content: "";
  display: inline-block;
  vertical-align: text-top;
  margin-right: 4px;
  width: 21px;
  height: 21px;
  background: url(//cdn.tubangzhu.com/static/tbz-common/images/arrow_a7027e1.png) no-repeat;
}

.bg-404 .main .link_grp {
  padding-top: 58px;
  font-size: 0;
  padding-left: 0;
}

.bg-404 .main .link_grp li {
  font-size: 20px;
  line-height: 28px;
  margin-right: 80px;
  display: inline-block;
  position: relative;
}

.bg-404 .main .link_grp li a {
  color: #999999;
  text-decoration: none;
}

.bg-404 .main .link_grp li:hover a {
  color: #00a2eb;
}

.bg-404 .main .link_grp li:hover a:hover {
  text-decoration: none;
}

.bg-404 .main .link_grp li:hover:after {
  content: "";
  position: absolute;
  border: 6px solid transparent;
  border-bottom-width: 7px;
  border-bottom-color: #00a2eb;
  border-top: 0;
  left: 50%;
  margin-left: -6px;
  bottom: -10px;
}
